.vagrant
.project
.settings
.idea
.vs
.vscode
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
*.dll
playbook.retry
coverage
node_modules
Temp
Obj
doc/*.mwb.*
typeorm-sample/dist
typeorm-sample/doc
typeorm-sample/config/local.yaml
typeorm-sample-web/public/bundle.js
typeorm-sample-web/public/bundle.js.map
typeorm-sample-web/doc
typeorm-sample-web/obj
typeorm-sample-web/bin
!.gitkeep
