.vagrant
.project
.settings
.idea
.vs
.vscode
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
*.dll
playbook.retry
coverage
node_modules
Temp
Obj
doc/*.mwb.*
typeorm-example/dist
typeorm-example/doc
typeorm-example/config/local.yaml
typeorm-example-web/public/bundle.js
typeorm-example-web/public/bundle.js.map
typeorm-example-web/doc
typeorm-example-web/obj
typeorm-example-web/bin
!.gitkeep
