html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 30px;
}

@media only screen and (max-width: 379px) {
	.footer {
		font-size: x-small;
	}
}

@media only screen and (max-width: 379px) {
	.navbar-brand {
		font-size: medium;
	}
}

fieldset {
	margin-bottom: 0.85em;
}

form .ng-invalid {
	background-color: #FFDAB9;
}
form .ng-valid {
	background-color: #E5FFCC;
}

@media only screen and (min-width: 31em) {
	input[type="text"], input[type="password"] {
		width: 30em;
	}

	textarea.form-control {
		width: initial;
		min-width: 30em;
	}
}

@media only screen and (max-width: 30em) {
	input[type="text"], input[type="password"] {
		width: 100%;
	}

	textarea.form-control {
		width: 100%;
	}
}

.content-header {
	margin-bottom: 0.85em;
}

.content-footer {
	margin-top: 0.85em;
}

.warning {
	color: #d08d2e;
}

.error {
	color: #d9534f;
}
